/* Destination */
.d2 h3{
    font-family:   Arial;
    font-size: 20px;
    font-weight: 600;
    margin-left: 50px;
    margin-top: 60px;
    
}
#d2-1{
    color: #f5182f;
    font-weight: 400;
    margin-left: 50px; 
    margin-top: -10px;
    font-size: small;

}
.cities{
    display: flex;
}
#cities-1{
    margin-left: 30px;
    margin-top: -15px;
}
#cities-1 img{
    position: relative;
    margin-top: 25px;
    border-radius: 8%;
    box-shadow: 0 6px 20px rgb(56 125 255 / 20%);
    filter: drop-shadow(0 6px 20px rgba(33, 108, 248, 0.171));
}
#cities-1 img:hover{
    transform: scale(1.1);
}
#cities-1 h6{
    color: black;
    font-size:medium;
    font-weight: bold;
    margin-top: -4px;
    /* color: #fff;
    background-color:#1f98f4; */
}

#cities-1 p{
    font-weight: 300;
    font-size: smaller;
    margin-top: -45px;
}
.cities #av{
    color: black;
    font-weight: 500;
    font-size: x-small;
    margin-top: -20px;
    margin-left: 84px;
}

/* @media only screen and (min-width: 1200px) {
    #cities-1 img,#cities-1 h6,.cities #av  {
      width: 84%;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    #cities-1 img,#cities-1 h6,.cities #av  {
      display: flex;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    #cities-1 img {
      margin-bottom: 2rem;
    }
  } */