/* Footer */
.footer1{
    background-color: #1d3557;
    padding: 200px;
    margin-top: 100px;
}
.foot-2{
    margin-top: -130px;
}
.foot-info{
    color:aliceblue;
    font-family:  monospace;
    font-size: small;
    text-align: center;
    
}
.foot-para{
    margin-top: -100px;
}
.foot-info a{
    color:#f5182f;
    text-decoration: none;
}
.foot-info a:hover{
    color: #962b36;
}
/* footer2 */
.footer2{
    background-color: aliceblue;
    padding: 180px;
}

