/* Nav bar */
.menu{
    position: relative;
    z-index: 9;
}
.container{
    width: 70%;
    /* padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; */
    margin: auto;
}
.row{
    /* display: flex; */
    flex-wrap: wrap;
    margin-right: 400px;
    margin-left: 100px;
}
.logo{
    /* padding: 10px 0; */
    margin-top: 10px;
}
.logo img{
    margin-top: 2px !important;
    margin-left: 40px;
}
.nav{
    text-align: right;
  
}
.mainmenu{
    /* display: inline-block; */
    margin-right: -100px;
    margin-top: -56px;
}
li{
    list-style: none;
    display: inline-block;
    position: relative;
    z-index: 1;
}
.mainmenu ul li{
    color:#912a8e;
    text-decoration: none;
    position: relative;
}
.mainmenu ul li::after{
    content: '';
    width: 0%;
    height: 10%;
    position: absolute;
    bottom: -5px;
    left: 65%;
    transform: translateX(-50%);
    background-color:#da11d354;
    transition: width 0.3s;
}
.mainmenu ul li:hover::after{
    width: 34%;
}
li a{
    text-decoration: none;
    margin-left: 40px;
    color:#912a8e;
    font-weight: 600;
}
/* //////////////////////////Search Bar /////////////////////////// */

.c1{
    /* background-color: #1d3557; */
    background-color: #912a8e;
    padding: 140px;
    background-image: url('./anime/ani44.PNG');
    
}
.tibet h1{
    font-size: 140px;
    line-height: 140px;
    margin-left:35px;
    position: absolute;
    margin-top: -90px;
    color: transparent;
    -webkit-text-stroke: 1px #e9e3e9;
    background: url('./anime/back.png');
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}
@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}

.c1 .para1{
    color:white;
    text-align: center; 
    font-size: 40px;
    font-family: Open Sans,sans-serif;
    font-weight: 800;
}

.a1{
    margin-top: -42px;
}
.a1 p{
    margin-top: -44px;
    position: absolute;
    margin-left: 31.4%;
}
.f1{
    text-align:center;
    padding: 10px;
    margin-top: -179px;
}
#textf1{
    height: 50px; 
    font-family: monospace;
    border: #912a8e;
    margin-right: -5px;
}
.f1 input{
    font-size: medium;
    width: 400px;
    transform: none ;
}
.f2{
    font-family: monospace;
    border: #912a8e;
    text-align: center;
    margin-top: -62px;
    margin-left: 26.6%;
}
.btn-margin{
    background-color: #fa1326;
    color:white;
    border: none;
    width: 100px;
    height: 52px;
}
.f2 button:hover{
    background-color: #630810;
}
.a2{
    text-align: center;
    color: #912a8e;
    font-size: small;
    font-family: monospace;
    margin-left: 110px;
}

/*/////////////////////////// trending rooms ////////////////////////////////*/

.load{
    color:#fd2439;
    font-size: larger;
    font-weight: 500;
    margin-left: 50%;
}
.a3{
    margin-top: 100px;
    font-family: Open Sans,sans-serif;
    font-weight: 700;
    font-size: large;
    color: #592488;
    margin-left: 50px;

}
#a3-1{
    color: #ff9100;
    /* color: linear-gradient(90deg, rgba(123,44,191,1) 0%, rgba(255,145,0,1) 100%); */
    margin-top: -27.5px;
    margin-left: 106px;
}
/* .flexy{
    display: flex !important;
    justify-content: center;
} */
.rooms{
    display: flex;
    padding: 0px;
    width: 100%;
    
}
.rooms div{
    width:40%;
}
#r1{
    /* padding: 10px; */
     margin-left: 40px; 
    
  
}
#r1-2{
    margin-left:-39.3%;
    margin-top: 196px;
   
}
#r1-2 h6{
    font-size:large;
    font-weight: bold;
    font-family:  'Open Sans', sans-serif;
    margin-top: 10px;
}
#a{
    font-size:small;
    font-weight: 380;
    margin-top: -40px;
}
#r1-2 h5{
    color: #912a8e;
    font-weight: bolder;
    font-size: 20px;
    font-family:'Open Sans', sans-serif ;
    margin-top: -15px;
}
#xtra{
    margin-top: -16px;
    font-size: x-small;
    color: cadetblue;
    margin-top: -40px;
}

/*///////////////////////////// Featured room /////////////////*/
.a4{
    margin-top: 100px;
    font-family: Open Sans,sans-serif;
    font-weight: 700;
    font-size:large;
    color: #592488;
    margin-left: 50px;

}
#a4-1{
    color: #ff9100;
    margin-top: -27.5px;
    margin-left: 157px;
}
.featured-Rooms{
    display: flex;
    padding: 0px;
    width: 100%;
}
#r2{
    /* padding: 10px; */
    margin-left: 40px; 
}
#r2-1{
    margin-left:-82.3%;
    margin-top: 196px;
}
#r2-1 h6{
    font-size:large;
    font-weight: bold;
    font-family:  'Open Sans', sans-serif;
    margin-top: 10px;
}

/* #r2-1 a{
    position: relative;
    padding: 0%;
    font-size: x-small;
} */
#r2-1 h5{
    color: #912a8e;
    font-weight: bolder;
    font-size: 20px;
    font-family:'Open Sans', sans-serif ;
    margin-top: -15px;
}

/* @media only screen and (min-width: 600px) {
    #r2-1 h6 {
      width: auto;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    #cities-1 img,#cities-1 h6,.cities #av  {
      display: flex;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    #cities-1 img {
      margin-bottom: 2rem;
    }
  } */

  /*////////////////////////// Destination /////////////////////*/
.d2 h3{
    font-family:   Arial;
    font-size: 41px;
    font-weight: 800;
    margin-left: 25%;
    margin-top: 60px;
    color: transparent;
    -webkit-text-stroke: 1px #592488;
    
}
#d2-1{
    color: #f5182f;
    font-weight: 500;
    margin-left: 49%;
    margin-top: -10px;
    font-size: large;

}
.cities{
    display: flex;
}
#cities-1{
    margin-left: 30px;
    margin-top: -15px;
}
#cities-1 img{
    position: relative;
    margin-top: 25px;
    border-radius: 8%;
    box-shadow: 0 6px 20px rgb(56 125 255 / 20%);
    filter: drop-shadow(0 6px 20px rgba(33, 108, 248, 0.171));
}
#cities-1 img:hover{
    transform: scale(1.1);
}
#cities-1 h6{
    color: #592488;
    font-size:medium;
    font-weight: bold;
    margin-top: -4px;
    /* color: #fff;
    background-color:#1f98f4; */
}

#cities-1 p{
    font-weight: 300;
    font-size: smaller;
    margin-top: -45px;
}
.cities #av{
    color: #f5182f;
    font-weight: 500;
    font-size: x-small;
    margin-top: -20px;
    margin-left: 84px;
}

/* @media only screen and (min-width: 1200px) {
    #cities-1 img,#cities-1 h6,.cities #av  {
      width: 84%;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    #cities-1 img,#cities-1 h6,.cities #av  {
      display: flex;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    #cities-1 img {
      margin-bottom: 2rem;
    }
  } */

  /* //////////////////////////////Footer ?//////////////////// */
.footer1{
    background-color: #912a8e;
    padding: 200px;
    margin-top: 100px;
    /* background: url('./anime/ani2.PNG'); */
}
.foot-2{
    margin-top: -130px;
}
.foot-info{
    color:aliceblue;
    font-family:  monospace;
    font-size: small;
    text-align: center;
    
}
.foot-para{
    margin-top: -100px;
}
.foot-info a{
    color:#f5182f;
    text-decoration: none;
}
.foot-info a:hover{
    color: #fff;
}

.fa {
    padding: 20px;
    font-size: 100px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  .fa-facebook {

    color: #3B5998;
  }
  .fa-twitter {
   
    color: #55ACEE;
  }
/* footer2 */
.footer2{
    background-color: aliceblue;
    padding: 180px;
}

/* ///////////////////////////=========Booking========= */
.personal{
    padding: 40px;
    background: cadetblue;  
    margin-top: 30px;  
}
.btnbook{
    height: 40px;
    width: 100px;
    border: none;
    background-color: #f5182f;
    font-size: medium;
  
}
.btnbook a{
    text-decoration: none;
    color: #fff;
}
fieldset{
    margin: 80px 30px;
    width: 60%;
    margin-left: 20%;
    padding: 20px;
    font-family:'Open Sans', sans-serif ;
    font-weight: 500;
}
legend{
    font-family:'Open Sans', sans-serif ;
    font-weight: 600;
}
.personal label{
    font-size: medium;
    font-family: 'Open Sans', sans-serif;
    color: aliceblue;
    margin-left: 30px;
}


.Booking label{
    font-size: medium;
    font-family: 'Open Sans', sans-serif;
    color: aliceblue;
    margin-left: 70px;
}
.Booking select{
    font-size: medium;
    font-family: 'Open Sans', sans-serif;
    background-color: aliceblue;
    margin-left: 10px;
    margin-top: 15px;
}
.personal ::placeholder{
    font-size: small;
    font-weight: 100;
}
.personal input{
    font-size:medium ;
    border: #df293a;
    margin-left: 20px;
    margin-top: 20px;
    
}

.Booking{
    padding: 40px;
    background: cadetblue;  
    margin-top: 30px;  
}
.Booking input{
    font-size:medium ;
    border: #df293a;
    margin-left: 20px;
    margin-top: 20px;
    
}
#BtnSubmit{
    margin-top: 20px;
    height: 45px;
    width: 100px;
    margin-left: 40%;
    border: none;
    background: #f5182f;
    font-size: medium;
    color: white;
}
#BtnSubmit:hover{
    background-color: #962b36;
}


/* ======AddTrending ,,, AddFeatured &&&& AddCities======= */
.heading2{
    color: #3B5998;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-right: 68%;
  }
  .Rows{
    display: flex;
  
  }
  .addp {
    margin-top: 13px;
    margin-bottom: 1rem;
    margin-left: 8%;
    text-align: left;
  }
  .addpro input[type = "text"],.addpro input[type="textarea"],.addpro input[type="Number"],.addpro select {
    border:0;
    background: none;
    display: block;
    margin: 2px auto;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 280px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    margin-left: -10px;
  }
  .addpro input[type = "text"]:focus,.addpro input[type = "textarea"]:focus, .addpro input[type="Number"]:focus, .addpro select:focus{
    width: 280px;
    border-color: #2ecc71;
  }
  .addpro select:hover{
    color: #3498db;
  }
  .addp.good input[type="textarea"]{
    margin-top: 0%;
    margin-bottom: 0%;
    height: 120px;
    text-align: left!important;
  
  }
  .image{
    margin-bottom: 40%;
    margin-top: -8rem;
    margin-left: 100%;
    flex: 2;
  }
  .add{
    background-color:burlywood;
    padding: 20px 20px;
    margin-top:2%;
   margin-left: 30%;
   margin-right: 30%;
   margin-bottom: 40%;
  }
  
  .ciabtn{
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
    padding: 15px 30px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-left: 80%;
    border-radius: 24px;
  }
  
  .ciabtn:hover{
    background-color: #008CBA;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

  /*-------------- Search Bar-----auto--------------- */

